/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Header */
  header .logo {
    width: 70px;
    height: 70px;
    background-size: contain;
    margin: 20px;
  }
  
  /* Main */
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10%;
  }
  
  .container h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  .recovery-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 400px;
  }
  
  .recovery-form input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #f3f0ff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .recovery-form button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: white;
    background-color: #6c63ff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .recovery-form button:hover {
    background-color: #4f49c6;
  }
  
  /* Footer */
 /* Footer */
footer {
    width: 100%;
    background-color: #6c63ff;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  footer .footer-section a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
  }
  
  footer .footer-section a:hover {
    text-decoration: underline;
  }
  